@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 320;
    src: local("Open Sans"), local("OpenSans"),
      url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
        format("woff2");
}


body {
    background-color: black !important;
    font-family: Product Sans !important;
    color: white !important;
    padding: 60px;
}


.container {
    display: grid;
    gap: 2%;
    grid-template-columns: auto;
}


.background {
    border-radius: 15px;
    background-color: #202020;
}


.content {
    background-color: #121212; 
    padding: 30px; 
    border-radius: 15px;
    height: 94%;
}


.content li {
    list-style-type: disc;
    font-size: 130%;
}


.image {
    width: 100%;
    border-radius: 15px;
}


.badge {
    color: #5999ff; 
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
    border-color: #5999ff;
    font-size: 55%;
    font-family: Arial;
    padding: 3px; 
    margin-left: 6px;
    vertical-align: 20%;
}


.red {
    color: #ff666b !important;
}


.purple {
    color: #9b80ff !important;
}


@media only screen and (min-width: 640px) {
    .container {
        grid-template-columns: auto auto;
    }
    .image {
        width: 65%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        grid-template-columns: auto auto auto;
    }
    .image {
        width: 35%;
    }
}